.home {
    font-family: 'Times News Roman', Times,sans-serif;
    font-size: 30px;
    background: lightgreen;
}

img {
    margin: 0px auto;
    width: 1000px;
    height: auto; 
}

h1 {
    text-align: center;
    color: rgb(128, 17, 17);
    margin: 10px 270px;
    display: inline-block;
    background-color: yellow;
}

.links {
    background-color: rgb(247, 242, 1);
    line-height: 1.7;
    font-size: 23px;
}

.pages {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background: lightsalmon;
}

.pages-img {
    width: 500px;
    height: auto;
}

.pages-head {
    color: violet;
    background-color: black;
    text-align: center;
}

.lists {
    font-size: 15px;
    line-height: 2;
}

.steps {
    line-height: 1.5;
}

.containers {
    border: 2px solid darkred;
    width: 1000px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.658);
}

.home-head {
    text-align: center;
    color: blue;
}

.home-para{
    text-align: center;
    font-size: 23px;
}