body {
    background:whitesmoke;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 20px;
}

.containers {
    margin: auto;
    width: 1600px;
    height: auto;
    border: 5px solid salmon;
    background: rgb(253, 241, 224);
}

.header {
    display: flex;
    gap: 10px;
    height: 400px;
}

.image-one {
    order: 1;
    width: 200px;
    flex: 2;
}

.title {
    order: 2;
    color: darkred;
    flex: 1;
    text-align: center;
    align-self: center;
    background-color: yellow;
}

.image-two {
    order: 3;
    width: 200px;
    flex: 2;
}

.para-container {
    display: flex;
    margin: 25px 0px;
    flex-direction: column;
}

.para-head {
    flex: 1;
    align-self: center;
    color: blue ;
}

.para {
    flex: 1;
    font-size: 25px;
    margin: 20px;
    text-align: center;
    width: 800px;
    align-self: center;
}

.links-container {
    display: flex;
    flex-direction: column;
}

.links-head {
    flex: 1;
    align-self: center;
    font-size: 30px;
    margin-bottom: 60px;
}

.list {
    display: flex;
    gap: 300px;
    justify-content: center;
}

.links {
    flex: 0 0 auto;
    height: 200px;
    width: 250px;
    text-align: center;
    
}

